<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:cd="http://typo3.org/ns/IchHabRecht/ContentDefender/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:be.pageRenderer includeCssFiles="{0: 'EXT:content_defender/Resources/Public/Css/backend.css'}" />

<cd:extendPartial>
    <f:alias map="{maxitems: '{cd:maxitems(column: column)}'}">

        <f:variable name="length" value="1"/>

        <f:if condition="{maxitems} > 9">
            <f:variable name="length" value="2"/>
        </f:if>

        <f:if condition="{maxitems} > 99">
            <f:variable name="length" value="3"/>
        </f:if>

        <div class="t3-cd-badge-container typo3-version-{cd:getVersion()} t3-cd-badge-container-length-{length}" data-maxitems="{maxitems}">
            <f:if condition="{maxitems} >= 0">
                <span class="badge t3-cd-badge">
                    {f:if(condition: '{maxitems} > 99', then: '&#43;99', else: '{maxitems}')}
                </span>
            </f:if>
            <f:render partial="PageLayout/Grid/ColumnHeader" arguments="{_all}" />
        </div>
    </f:alias>
</cd:extendPartial>

</html>
